<div class="w-full h-auto bg-merchantblue flex flex-col p-3 gap-1">
    <!-- Store info -->
    <div class="grid grid-cols-4 gap-3 items-end justify-between">
        <span class="col-span-2 text-white text-lg font-medium truncate tracking-tight text-start">{{store.name}}</span>
        <div class="flex flex-row justify-end gap-2 items-center col-span-2 tracking-tight text-white text-lg">
            <span class="">Total</span>
            <span class="font-medium">{{order.total | currency: 'RM'}}</span>
        </div>
    </div>
    <!-- <div class="flex flex-row gap-3 items-end justify-between">
        <span class="col-span-2 text-white text-lg font-medium truncate tracking-tight text-start">{{store.name}}</span>
        <div class="text-white">|</div>
        <div class="flex flex-row justify-end gap-2 items-center col-span-2">
            <span class="text-white text-lg tracking-tight">Total</span>
            <span class="text-white text-lg font-bold tracking-tight">{{order.total | currency: 'RM'}}</span>
        </div>
    </div> -->
</div>