<div class="flex flex-col items-center justify-center w-full h-full bg-default">
	<div class="flex flex-row gap-2 w-full bg-white items-center h-12 p-4">
		<span class="text-base font-medium">
			Payment Method:
		</span>
		<span class="text-base font-semibold">
			Credit/Debit Card
		</span>
	</div>
	<div class="flex flex-col items-center justify-center w-full h-full bg-default px-4 pt-3 pb-1 gap-6">
		<mat-card class="flex flex-col h-auto rounded-md max-w-72">
			<mat-card-header class="pb-2.5">
				<span class="w-full text-center font-semibold text-lg truncate">
					Please scan to make payment
				</span>
			</mat-card-header>
			<mat-card-content>
				<div class="flex justify-center">
					<qrcode
						[qrdata]="qrUrl"
						[allowEmptyString]="true"
						[cssClass]="''"
						[elementType]="'canvas'"
						[errorCorrectionLevel]="'M'"
						[margin]="1"
						[scale]="1"
						[width]="250"
					></qrcode>
				  </div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
