<div class="flex flex-col">
	<!-- Header -->
	<page-header-form></page-header-form>
	<div class="flex flex-col items-center justify-start w-full h-auto bg-default p-2">
		<div *ngIf="bnplPage === false; else bnplTemplate" class="bg-white rounded-lg w-full p-4 pt-2 flex flex-col gap-3 shadow md:max-w-2/3">
			<!-- Form Credit/Debit-->
			<ng-container *ngIf="formType === 'card'">
				<!-- Logos -->
				<div class="flex flex-row justify-center w-full gap-2">
					<img class="h-7 w-auto object-cover py-2" src="assets/images/payment/Visa_Brandmark_Blue_RGB_2021.png" alt="Visa Logo">
					<img class="h-7 w-auto object-cover" src="assets/images/payment/mastercard.png" alt="Mastercard Logo">
					<img class="h-7 w-auto object-cover" src="assets/images/payment/American-Express.png" alt="American Express Logo">
				</div>
	
				<form [formGroup]="form">
					<div class="grid grid-cols-4 gap-3 gap-x-2 w-full">
						<!-- Name -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Cardholder name</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:identification'"
									matPrefix></mat-icon>
								<input 
									required="true"
									type="text" 
									[formControlName]="'name'" 
									matInput>
							</mat-form-field>
						</div>
						<!-- Phone Number -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Phone number</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:phone'"
									matPrefix></mat-icon>
								<input 
									required="true"
									type="tel" 
									[formControlName]="'phoneNo'" 
									matInput>
							</mat-form-field>
						</div>
						<!-- Email -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Email</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:mail'"
									matPrefix></mat-icon>
								<input 
									required="true"
									type="text" 
									[formControlName]="'email'" 
									matInput>
							</mat-form-field>
						</div>
						<!-- Card number -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<!-- <mat-label class="font-semibold opacity-80 leading-5 tracking-tight mb-1.5">Card Number*</mat-label> -->
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Card number</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:credit-card'"
									matPrefix></mat-icon>
								<input 
									required="true"
									id="cc-number"
									type="tel" 
									autocomplete="cc-number" 
									[formControlName]="'cardNumber'" 
									ccNumber matInput #ccNumber="ccNumber">
							</mat-form-field>
							<!-- <span class="scheme">{{ccNumber.resolvedScheme$ | async}}</span> -->
						</div>
						<!-- Card expiration -->
						<div class="col-span-2 sm:col-span-1 flex flex-col">
							<!-- <mat-label class="font-semibold opacity-80 leading-5 tracking-tight mb-1.5">Expiry date*</mat-label> -->
							<mat-form-field floatLabel="always"
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Expiry date</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:calendar'"
									matPrefix></mat-icon>
								<input
									required="true"
									[formControlName]="'cardExpiration'"
									[placeholder]="'MM / YY'"
									id="cc-exp-date" 
									type="tel" 
									autocomplete="cc-exp" 
									ccExp 
									matInput>
							</mat-form-field>
						</div>
						<!-- Card CVC -->
						<div class="col-span-2 sm:col-span-1 flex flex-col">
							<!-- <mat-label class="font-semibold opacity-80 leading-5 tracking-tighter mb-1.5">CVC / CVC2*</mat-label> -->
							<mat-form-field
								hideRequiredMarker="true"
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label class="flex flex-row">Security code*
									<mat-icon
										matTooltip="3- or 4-digit number located on the back of the card."
										class="transform scale-75 -translate-y-1"
										[svgIcon]="'heroicons_solid:question-mark-circle'">
									</mat-icon>
								</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:lock-closed'"
									matPrefix></mat-icon>
								<input 
									required="true"
									[formControlName]="'cardCVC'" 
									id="cc-cvc" 
									type="tel" 
									autocomplete="off" 
									ccCVC 
									matInput>
							</mat-form-field>
						</div>
					</div>
				</form>
			</ng-container>
			<!-- Form BNPL-->
			<ng-container *ngIf="formType === 'bnpl'">
				<form [formGroup]="form">
					<div class="grid grid-cols-4 gap-3 gap-x-2 w-full">
						<!-- Name -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Name</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:identification'"
									matPrefix></mat-icon>
								<input 
									required="true"
									type="text" 
									[formControlName]="'name'" 
									matInput>
							</mat-form-field>
						</div>
						<!-- Email -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Email</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:mail'"
									matPrefix></mat-icon>
								<input 
									required="true"
									type="text" 
									[formControlName]="'email'" 
									matInput>
							</mat-form-field>
						</div>					
						<!-- Phone Number -->
						<div class="col-span-4 sm:col-span-2 flex flex-col">
							<mat-form-field
								class="w-full"
								[subscriptSizing]="'dynamic'">
								<mat-label>Phone number</mat-label>
								<mat-icon
									class="icon-size-5"
									[svgIcon]="'heroicons_solid:phone'"
									matPrefix></mat-icon>
								<input 
									required="true"
									type="tel" 
									[formControlName]="'phoneNo'" 
									matInput>
							</mat-form-field>
						</div>
					</div>
				</form>
			</ng-container>
			<!-- Confirm/Next Button -->
			<div class="w-full mt-2">
				<!-- Delete button -->
				<input
					[disabled]="form.invalid"
					id="confirm-button"
					type="button"
					(click)="confirm()"
					class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
					mat-button>
				<label 
					class="flex items-center justify-center h-10 px-4 border rounded md:hover:bg-hover  "
					[ngClass]="form.invalid ? 'bg-gray-300 cursor-default' : 'bg-emerald-500 active:bg-emerald-600 cursor-pointer'"
					for="confirm-button"
					matRipple>
					<span class="justify-center text-lg text-white">{{ formType === 'bnpl' ? 'Next' : 'Confirm' }}</span>
				</label>
			</div>
			<!-- Disclaimer -->
			<span class="text-sm leading-snug font-medium tracking-tight">Disclaimer: <br>We value your privacy and security. We would like to assure you that we do not save or store your information.</span>
		</div>
		<!-- BNPL page -->
		<ng-template #bnplTemplate>
			<div class="bg-white rounded-lg w-full p-4 flex flex-col gap-3 shadow md:max-w-2/3">
				<app-bnpl (dataFromBNPLTemplate)="confirmBNPL($event)"></app-bnpl>
			</div>
		</ng-template>
	</div>
	<!-- Footer -->
	<div class="flex flex-row justify-center gap-1 tracking-tight mb-3 mt-1">
		<span class="font-medium">Powered By</span>
		<img class="h-5 w-auto object-cover" src="assets/images/logo/betterpay.png" alt="Visa Logo">
	</div>
</div>
